name: MakaMek Core Library
on:
  push:
    branches:
      - main
    paths:
      - 'src/MakaMek.Core/**'
      - 'src/MakaMek.SourceGenerators/**'
      - 'tests/MakaMek.Core.Tests/**'
      - '.github/workflows/core.yml'
  pull_request:
    paths:
      - 'src/MakaMek.Core/**'
      - 'src/MakaMek.SourceGenerators/**'
      - 'tests/MakaMek.Core.Tests/**'
      - '.github/workflows/core.yml'
  workflow_dispatch:
env:
  NuGetDirectory: ${{ github.workspace }}/nuget
  
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      COVERAGE_EXCLUSIONS: "**/FileCommandLogger.cs"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Run Core tests
        run: dotnet test tests/MakaMek.Core.Tests/MakaMek.Core.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByAttribute=GeneratedCodeAttribute /p:Include=[Sanet.MakaMek.Core]* /p:ExcludeByFile="${{ env.COVERAGE_EXCLUSIONS }}"

      - name: Upload Core tests results
        uses: codecov/codecov-action@v4
        with:
          files: ./tests/MakaMek.Core.Tests/coverage.opencover.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
  
  publish-nuget:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Create nuget packages
        run: |
          dotnet pack src/MakaMek.Core/MakaMek.Core.csproj --configuration Release --output ${{ env.NuGetDirectory }}

      - name: Publish NuGet package
        run: |
          for file in "${{ env.NuGetDirectory }}"/*.nupkg; do
            dotnet nuget push "$file" --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
          done