name: MakaMek Presentation Library
permissions:
  contents: read
on:
  push:
    branches:
      - main
    paths:
      - 'src/MakaMek.Presentation/**'
      - 'src/MakaMek.Bots/**'
      - 'src/MakaMek.Core/**'
      - 'src/MakaMek.SourceGenerators/**'
      - 'tests/MakaMek.Presentation.Tests/**'
      - '.github/workflows/presentation.yml'
  pull_request:
    paths:
      - 'src/MakaMek.Presentation/**'
      - 'src/MakaMek.Bots/**'
      - 'src/MakaMek.Core/**'
      - 'src/MakaMek.SourceGenerators/**'
      - 'tests/MakaMek.Presentation.Tests/**'
      - '.github/workflows/presentation.yml'

  workflow_dispatch:
env:
  NuGetDirectory: ${{ github.workspace }}/nuget
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Run Presentation tests
        run: dotnet test tests/MakaMek.Presentation.Tests/MakaMek.Presentation.Tests.csproj /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:ExcludeByAttribute=GeneratedCodeAttribute /p:Include=[Sanet.MakaMek.Presentation]*

      - name: Upload Presentation tests results
        uses: codecov/codecov-action@v4
        with:
          files: ./tests/MakaMek.Presentation.Tests/coverage.opencover.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
  
  publish-nuget:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Create nuget packages
        run: |
          dotnet pack src/MakaMek.Presentation/MakaMek.Presentation.csproj --configuration Release --output ${{ env.NuGetDirectory }}

      - name: Publish NuGet package
        run: |
          for file in "${{ env.NuGetDirectory }}"/*.nupkg; do
            dotnet nuget push "$file" --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
          done
